/*
  color 
  rgba(238, 238, 238, 1.0);
  rgba(37, 37, 37, 1.0);
  rgba(252, 41, 74, 1.0);
*/

* {
  scroll-behavior: smooth;
}

header {
  background-color: rgba(37, 37, 37, 1.0);
  color: rgba(238, 238, 238, 1.0);
  height: 50vh;
  width: 100%;
  margin: 0 auto;
}

header section {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  padding-top: 10%;
}

.title {
  text-align: left;
  font-size: 2.7rem;
}

.mark {
  display: block;
  color: rgba(252, 41, 74, 1.0);
  font-size: 1.8rem;
}

.info {
  text-align: left;
  font-size: 2.2rem;
  padding-bottom: 1rem;
}

.short-info {
  text-align: left;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.navbar {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: rgba(37, 37, 37, 0.9);
  -webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
  box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
  height: 45px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.navbar ul li {
  display: inline;
  margin: 20px;
}

.navbar ul li a {
  color: rgba(252, 41, 74, 1.0);
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: rgba(252, 41, 74, 0.7);
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

#about,
#work,
#contact {
  font-size: 2.6rem;
  padding: 2rem;
}

#about span,
#work span,
#contact span {
  color: rgba(252, 41, 74, 1.0);
}

.about {
  line-height: 1.6;
  margin: 0px auto;
  text-align: center;
}

.about p,
.contact p,
.work p {
  text-align: justify;
  margin: 2rem;
}

.about img {
  width: 60%;
  border-radius: 1.2rem;
}

.work ul li {
  margin: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
}

.work ul li a {
  text-decoration: none;
  color: rgba(37, 37, 37, 1.0);
}

.work ul li a span {
  color: rgba(252, 41, 74, 1.0);
}

.work ul li a:hover {
  color: rgba(252, 41, 74, 1.0);
}

.work ul li a:hover span {
  color: rgba(37, 37, 37, 1.0)
}